<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Records List</title>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container my-5">
    <div class="form-row">
        <label for="filename">Filename</label>
        <div class="input-group mb-3" id="filename">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3" th:text="${filename}">https://example.com/users/</span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Currency Code</th>
                <th scope="col">Salary</th>
                <th scope="col">Monthly or Yearly</th>
                <th scope="col">Take Home Salary</th>
                <th scope="col">Status</th>
                <th scope="col">Error(If Any)</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="record: ${records}">
                <tr>
                    <td th:text="${record.name}"/>
                    <td th:text="${record.designation}"/>
                    <td th:text="${record.currencyCode}"/>
                    <td th:text="${record.salary}"/>
                    <td th:text="${record.yearlyOrMonthly}"/>
                    <td th:text="${record.takeHomeSalary}"/>
                    <td th:text="${record.recordStatus.status}"/>
                    <td th:text="${record.errorDetails}"/>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>